.card-btn{
    display: block;
    
    background-color: #f0c14b;
    color: black;
    margin-top: 15px;
    font-weight: bolder;
}
.product-row{
    margin-right: 5px;
}
.text-left{
    text-align: left;
}